.login {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: auto;
    padding: 5px;
    right: 20px;
    top: 20px;
    border-radius: 8px;
    max-width: 1100px;

}
.login p{   
    align-self: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-right: 20px;

}

nav img.logout{
    width: 30px;
    margin-left: 30px;
    cursor: pointer;
}

nav .reponsive{
    display: flex;
    align-items: center;
    justify-content: center;

}

nav .reponsive img{
    padding: 2px;
    opacity: 0.6;
    border-radius: 8px;
    transition: opacity .8s;
}

nav .reponsive img:hover{
    opacity: 1;
}

.minhacor{
    color: #67C1F5;
}

.minhacor:hover {
    color: #3E7494;
    text-decoration: none
    
}

.minhacor2 {
    color: #fff;
  background: #000C14
  
}

.porfora {
    background-color: var(--blue-dark);
    padding: 40px;
   
}

.pordentro{
    background-color: var(--blue-light);
    box-shadow: 70px -70px 70px rgba(2, 48, 85, 0.45);
    background: linear-gradient(var(--blue-light), var(--blue-dark))repeat-x;
    border-radius: 8px;
}
  
.modale{
    cursor: pointer;
    
}
  
.titulo-jogos{
  
    margin: 10px 0;
    color: white;
   
}


.corzinha{
    background: linear-gradient(#22394b, #101a243f) repeat-x;
    margin: 7px 0  ;
    border-radius: 8px;
}

.corzinha .col-sm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.corzinha .col-sm img{
    align-self: flex-start;
    border-radius: 8px  0  0 8px;
    object-fit: cover;
    width: auto;
    height: 100%;
}
.corzinha .col-sm h2 {
    align-self: flex-start;
}

.corzinha .col-sm .preco  {
   background-color: var(--blue-dark);
   width: 215px;
   padding: 5px 5px 5px 14px;
   border-radius: 8px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: white;
   font-weight: 300;
}

.corzinha .col-sm .preco button{
    width: 120px;
}


footer .container .form-register {
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    
    
}

footer .container .form-register h3 {
    font-size: 42px;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    
}


footer .container  form {
   display: flex;
   flex-direction: column;
   color: #67C1F5;
   margin-bottom: 80px;

}

footer .container  form label {
    display: block;
    text-align: center;
    font-size: 18px;

}

footer .container  form .form-check-label{
   font-size: 16px;
   align-items: center;
   color: rgb(95, 95, 95);
}

