.login {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #5c7e10;
    width: 105px;
    padding: 5px;
    right: 20px;
    top: 20px;
    border-radius: 8px;
    max-width: 1100px;

}

.login:hover{
    background-color: #618611;
    cursor: pointer;
    transition: background 400ms;
}

.login a {
    color: #e5e4dc;
    text-decoration: none;
    font-size: 14px;
    transition: color 400ms;
}

.login a:hover{
    color: white;
}

.register .form-group{
    margin-bottom: 9px;
}

.register .form-check{
    margin: 12px 0;
}
