@media (max-width: 1200px) {
    .container form.register {
        margin:0px 100px;
      
    }
}


@media ( max-width: 991px) {
    .corzinha .col-sm .preco  {
        width: 200px;
        padding: 5px;
     }

     .container form.register {
        margin:0px 0px;
      
    }
   
}

@media ( max-width: 767px) {
    .corzinha .col-sm .preco  {
        width: auto;
        flex-direction: column;
     }
     
     form .form-check{
        display: flex;
     }

     nav .reponsive img{
        width: 40px;
        padding: 5px;
        background-color: #0f436894;
        transition: background-color opacity .8s;
    }

    nav .reponsive img:hover{
        background-color: #0f4368;
    }


}

@media ( max-width: 575px){

    .corzinha {
        margin-bottom: 30px;
    }
    
    .corzinha .col-sm img {
        border-radius: 8px 8px 0 0 ;
        align-self: center;
    }

    .corzinha .col-sm h2{
        align-self: center;
        margin: 20px 0;
    }

    .corzinha .col-sm .preco  {
        width: 215px;
        padding: 5px 5px 5px 14px;
        flex-direction: row;

     }
    .container form.register h1 {
        font-size: 20px;
      
    }
    
    .container form.register h3 {
        font-size: 12px;
      
    }

    .container form.register .form-flex{
        flex-direction: column;
       
    }

    .container form.register select{
        width: 50%;
        margin: 20px 0 0;
    }

    .container form.register .action .back{
        font-size: 10px;
    }

    .login p {
        font-size: 10px;
    }

    .body form.register{
        padding: 35px 10px;
    }
}

@media ( max-width: 320px){
    .corzinha .col-sm .preco {
        width: auto;
        flex-direction: column; 
        padding: 5px;
    }

    .container form.register select{
        width: auto;
    }

    .container form.register .action {
        flex-direction: column;
    }

    .container form.register .action button{
        margin-bottom: 30px;
    }

    .login p {
        font-size: 8px;
    }
}

